<div *ngIf="kit">
    <form #kitCreateForm="ngForm" (ngSubmit)="onSubmit()" class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" required [(ngModel)]="kit.name" class="form-control"
                #name="ngModel">
        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Por favor, introduza um nome para o kit.
        </div>

        <div class="form-group">
            <label for="location">Local</label>
            <input type="text" id="location" name="location" required [(ngModel)]="kit.location" class="form-control"
                #location="ngModel">
        </div>
        <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
            Por favor, introduza a localização do kit.
        </div>

        <div class="form-group">
            <label for="photo">Fotografia</label>
            <input type="text" id="photo" name="photo" required [(ngModel)]="kit.photo" class="form-control"
                #photo="ngModel">
        </div>
        <div [hidden]="photo.valid || photo.pristine" class="alert alert-danger">
            Por favor, introduza o nome da fotografia.
        </div>

        <button class="btn btn-primary" [disabled]="!kitCreateForm.form.valid" type="submit">Criar novo Kit</button>
        <button class="btn btn-secondary ml-3" (click)="onCancel()">Cancelar</button>

        <app-message-display [message]="message"></app-message-display>
    </form>
</div>
