<h1>Autenticação</h1>

<div class="row">
    <div class="col col-md-6">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="shadow-sm p-3 mb-5 bg-white rounded">

            <div class="form-group">
                <label for="email">Endereço de e-mail</label>
                <input type="email" id="email" name="email" required [(ngModel)]="model.email" email
                    class="form-control" #email="ngModel">
            </div>

            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Por favor, introduza um endereço eletrónico válido.
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required [(ngModel)]="model.password"
                    class="form-control" #password="ngModel">
            </div>

            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Digite a sua password.
            </div>

            <button class="btn btn-primary" [disabled]="!loginForm.form.valid" type="submit">Autenticar</button>

            <app-message-display [message]="message"></app-message-display>
        </form>
    </div>
</div>