<div class="nav-side-menu">
    <div class="brand">M.E.V.</div>
    <i class="fa fa-bars fa-2x navbar-toggler toggle-btn" (click)="isMenuCollapsed = !isMenuCollapsed"></i>
    <div class="menu-list">
        <ul [ngbCollapse]="isMenuCollapsed" class="menu-content collapse out" id="menu-content">
            <li>
                <a class="item" id="menu-link-home" routerLink="/" routerLinkActive="active">
                    <i class="fas fa-home"></i>
                    Início
                </a>
            </li>

            <li *ngIf="authService.isAdmin()">
                <span class="sub-menu-title">
                    <i class="fas fa-toolbox"></i>
                    Administração
                </span>
                <ul class="sub-menu">
                    <li>
                        <a class="item" routerLink="/admin/users" routerLinkActive="active">
                            <i class="fas fa-users"></i>
                            Utilizadores
                        </a>
                    </li>
                    <li>
                        <a class="item" routerLink="/admin/kits" routerLinkActive="active">
                            <i class="fas fa-wifi"></i>
                            Kits
                        </a>
                    </li>
                </ul>
            </li>

            <li *ngIf="authService.isAuthenticated()">
                <span class="sub-menu-title">
                    <i class="fas fa-cogs"></i>
                    {{ authService.authenticatedUser.name }}
                </span>
                <ul class="sub-menu">
                    <li>
                        <a class="item" routerLink="/my/profile" routerLinkActive="active">
                            <i class="fas fa-user"></i>
                            O meu perfil
                        </a>
                    </li>
                    <li>
                        <a class="item" routerLink="/logout" routerLinkActive="active">
                            <i class="fas fa-sign-out-alt"></i>
                            Terminar sessão
                        </a>
                    </li>
                </ul>
            </li>
            <app-main-menu-kit-list *ngIf="!authService.isAuthenticated()"></app-main-menu-kit-list>
            <li *ngIf="!authService.isAuthenticated()">
                <span class="sub-menu-title">
                    <i class="fas fa-toolbox"></i>
                    Administração
                </span>
                <ul class="sub-menu">
                    <li>
                        <a class="item" [routerLink]="['/login']" routerLinkActive="active">
                            <i class="fas fa-sign-in-alt"></i>
                            Iniciar sessão
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>