<nav class="sticky-top" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">
            Administração
        </li>
    </ol>
</nav>

<h1>Administração</h1>

<div class="row row-cols-1 row-cols-md-2">
    <div class="col">
        <div class="card">
            <img src="./assets/img/Paper_Arduino_Project_Box_Pieces.jpg" class="card-img-top"
                alt="Administrar os kits disponíveis e registar ocorrências.">
            <div class="card-body">
                <h5 class="card-title">Kits</h5>
                <p class="card-text">Administrar os kits disponíveis e registar ocorrências.</p>
                <a routerLink="/admin/kits" class="btn btn-primary stretched-link">Gerir Kits</a>
            </div>
        </div>
    </div>
    <div class="col" *ngIf="authService.isAdmin()">
        <div class="card">
            <img src="./assets/img/avatar.png" class="card-img-top" alt="Administrar utilizadores do sistema.">
            <div class="card-body">
                <h5 class="card-title">Utilizadores</h5>
                <p class="card-text">Administrar utilizadores do sistema.</p>
                <a routerLink="/admin/users" class="btn btn-primary stretched-link">Gerir Utilizadores</a>
            </div>
        </div>
    </div>
</div>
