<div class="m-2 mt-5">
    <h3>Leituras</h3>

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th class="text-right" scope="col">Temperatura (ºC)</th>
                <th class="text-right" scope="col">Humidade (%)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reading of readings.slice().reverse(); index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ reading.date | date:'dd/MM/yyyy MM:mm' }}</td>
                <td class="text-right">{{ reading.temperature | number }}</td>
                <td class="text-right">{{ reading.humidity | number }}</td>
            </tr>
        </tbody>
    </table>
</div>
