<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">
            Administração
        </li>
    </ol>
</nav>

<h1>Administração</h1>

<div class="card-deck">
    <div class="card">
        <img src="./assets/img/fundo_aemb_abril_2019.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kits</h5>
            <p class="card-text">Administrar os kits disponíveis e registar ocorrências.</p>
        </div>
    </div>
    <div *ngIf="authService.isAdmin()" class="card">
        <img src="./assets/img/avatar.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Utilizadores</h5>
            <p class="card-text">Administrar utilizadores do sistema.</p>
        </div>
    </div>
</div>
