<h1>Monitorização de Espaços Verdes</h1>
<img class="img-fluid shadow-sm rounded mt-5 mb-5" src="./assets/img/fundo_aemb_abril_2019.jpg">
<div class="container">
    <p>
        Este projeto permite gerir um conjunto de kits de recolha de dados, que
        serão utilizados para analisar as condições atmosféricas (temperatura e
        humidade relativa do ar) e do solo (humidade do solo) dos jardins do
        Agrupamento de Escolas de Moimenta da Beira.
    </p>
    <p>
        Esta informação será utilizada para otimizar os horários e os consumos
        de água da manutenção dos espaços verdes.
    </p>
    <p>
        Os kits estão a ser construídos pelos alunos do 3º ano do Curso
        Profissional de Técnico de Eletrónica, Automação e Computadores.
    </p>
    <p>
        Em complemento a este projeto foram desenvolvidas aplicações móveis, na
        plataforma App Inventor, pelos alunos do 2º ano do Curso, possibilitando
        o acompanhamento do estado dos jardins.
    </p>
    <p>
        O projeto aqui apresentado serve de plataforma para recolha, tratamento
        e administração dos dados fornecidos pelos kits e a sua disponibilização
        às aplicações móveis.
    </p>
</div>
